.hover-site
    width: 100%
    height: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    background-color: rgba(0, 0, 0, 0.781)
    z-index: 2
    .header-site
        position: absolute
        left: 10%
        bottom : 5%
        width: 80%
        background: #4c035e 
        color: white
        text-align: center
        border: 2px solid #fff
        border-radius: 10px

        box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )

        a
            color: #fff
            &:hover
                color: #f70fcd

        p
            display: block
            word-wrap: break-word
            text-decoration:
            margin: 0
            text-shadow: none
            color: #ffffff
            font-size: 24px
            text-align: center
        button
            background: #f70fcd
            border: 2px solid #f70fcd
            padding: 7px 18px
            font-size: 22px
            border-radius: 18px
            color: #fff
            font-weight: bold
            cursor: pointer
            transition: 0.3s
            margin-right: 10px
            margin-top: 5px
            &:hover
                box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                background: none
                color: #fff
