.NotFound
    background-image: url("./img/space.jpg")
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    display: flex
    height: 100vh
    width: 100vw
    flex-direction: column

    h1
        color: #ffffff
        font-size: 400%
        text-align: center
        letter-spacing: 15px

    h2
        color: #ffffff
        font-size: 400%
        text-align: center

    h3
        color: #ffffff
        font-size: 200%
        text-align: center
        margin-left: 20%
        margin-right: 20%

    p
        color: #ffffff
        font-size: 200%
        text-align: left
        margin-left: 15%
        margin-right: 15%

    .header
        position: absolute
        top: 0px
        right: 0px
        width: 75%

        margin-top: 5%

    .left
        position: absolute
        bottom: 0px
        width: 25%

    img
        width: 100%
        height: auto
