.PassForm
        .input-field
            width: 50%

        input
            display: flex
            flex-direction: column
            margin-top: 10px
            margin-bottom: 10px
            font-size: 18px
            background: #fff
            border-radius: 8px
            color: #000

        .input-error
                border: 3px solid  #ff0000 !important

        p
            text-align: center
            color: #a1a1a1
            font-size: 16px
            margin-top: 5px
            display: flex
            
            text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000

    
                

        .form-btns
            display: flex
            justify-content: space-around
            margin-bottom: 15px

            button
                background: #f70fcd
                border: 2px solid #f70fcd
                padding: 7px 18px
                font-size: 18px
                border-radius: 18px
                color: #fff
                font-weight: bold
                cursor: pointer

                transition: 0.3s

                &:hover
                    box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                    background: none
                    color: #fff

                    &:disabled
                        background: #525252
                        border: 2px solid #525252
        p
            margin: 0
            text-align: left
            font-size: 20px
            padding: 0
