.box
    display: flex
    flex-direction: row
    
    li
        padding: 5px
        margin-left: 15px
    ul
        padding: 5px
        margin-left: 15px
    p.agent 
        font-size: 30px
        text-align: left
        margin-left: 0%
        margin-right: 0%