.data

    .headers
        display: flex
        flex-direction: row
        p.agent
            margin: 0

    &-main

        display: flex
        flex-direction: column

    &-info
        width: 55%

        .select-component
            word-wrap: break-word
            color: #000000
            padding-top: 5%
        p
            font-size: 20px
            text-align: left
            margin-left: 0%
            margin-right: 0%

    &-button

        p
            text-align: center
            color: #a1a1a1
            font-size: 16px
            margin-top: 5px
            display: flex

            text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000

        li
            padding: 5px
            list-style-type: none

        ul
            padding: 5px
        button
            background: #f70fcd
            border: 2px solid #f70fcd
            padding: 7px 18px
            font-size: 22px
            border-radius: 18px
            color: #fff
            font-weight: bold
            cursor: pointer
            transition: 0.3s
            margin-right: 10px
            margin-top: 5px

            &:hover
                box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                background: none
                color: #fff

            &:disabled
                background: #525252
                border: 2px solid #525252

.loading
    width: 100%
    height: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    background-color: rgba(0, 0, 0, 0.781)
    z-index: 2
    .lds-ellipsis
        display: inline-block
        position: relative
        width: 80px
        height: 80px
        position: absolute
        top: 40%
        left: 50%
        & div
            position: absolute
            top: 33px
            width: 13px
            height: 13px
            border-radius: 50%
            background: #f70fcd
            animation-timing-function: cubic-bezier(0, 1, 1, 0)

        & div:nth-child(1)
            left: 8px
            animation: lds-ellipsis1 0.6s infinite

        & div:nth-child(2)
            left: 8px
            animation: lds-ellipsis2 0.6s infinite

        & div:nth-child(3)
            left: 32px
            animation: lds-ellipsis2 0.6s infinite

        & div:nth-child(4)
            left: 56px
            animation: lds-ellipsis3 0.6s infinite

@keyframes lds-ellipsis1
    0%
        transform: scale(0)

    100%
        transform: scale(1)

@keyframes lds-ellipsis3
    0%
        transform: scale(1)

    100%
        transform: scale(0)

@keyframes lds-ellipsis2
    0%
        transform: translate(0, 0)

    100%
        transform: translate(24px, 0)
