.header-chart
    position: relative
    width: 100%
    margin: 0

    p.wrong-diapason
        text-align: center
        color: #a1a1a1
        font-size: 16px
        margin-top: 5px
        margin-bottom: 5px
        display: flex
        justify-content: center
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000

    .diapason
        display: flex
        flex-direction: row
        margin-bottom: 40px
        .picker
            margin-right: 50px
            margin-left: 10px
        p
            padding: 0
            margin: 0

        .diapason-button
            background: #f70fcd
            border: 2px solid #f70fcd
            padding: 7px 18px
            font-size: 18px
            border-radius: 18px
            color: #fff
            font-weight: bold
            cursor: pointer

            transition: 0.3s

            &:hover
                box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                background: none
                color: #fff

            &:disabled
                background: #525252
                border: 2px solid #525252

    .chart
        position: "relative"
        height: 56vh
        width: 56vw
        margin-bottom: 50px

p
    font-size: 20px
    text-align: left
    margin-left: 0%
    margin-right: 0%
    padding-bottom: 30px
