.create_email_support_page
    margin-left: auto
    margin-right: auto
    margin-top: 100px
    max-width: 500px
    min-width: 400px
    background: #7105ff
    padding: 40px
    color: white
    border: 6px solid #fff
    border-radius: 10px
    box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )

    a
        display: flex
        justify-content: space-around

    p
        font-size: 30px
        text-align: left
        margin-bottom: 10px
        padding: 0
        color: #a1a1a1
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000

    p.prior
        font-size: 30px
        text-align: center
        text-shadow: none
        color: #ffffff

    .wrapper_content
        a
            color: #fff
            &:hover
                color: #f70fcd

        .card
            border: none
            background: none
            padding-bottom: 20px

        .expiry
            border: none
            background: none
            padding-bottom: 20px

        .cvc
            border: none
            background: none
            padding-bottom: 20px

        span
            font-size: 30px
            color: #000000

        .FormNotNumber
            background-color: #ffffff
            margin: 20px 0
            border-radius: 10px

        .form-btns
            display: flex
            justify-content: space-around
            margin: 20px 0

            button
                background: #f70fcd
                border: 2px solid #f70fcd
                padding: 7px 18px
                font-size: 30px
                border-radius: 18px
                color: #fff
                font-weight: bold
                cursor: pointer

                transition: 0.3s

                &:hover
                    box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                    background: none
                    color: #fff

                &:disabled
                    background: #525252
                    border: 2px solid #525252
