.user

    padding: 5px

    text-align: left
    justify-content: space-between
    position: fixed
    left: 0
    top: 0
    width: 20%

    .user-info
        text-align: center
        padding: 10px

        p.user-info-text
            font-size: 24px
            text-align: center

    .notify-badge
        position: fixed
        left: 12%
        top: 18%
        text-align: center
        border-radius: 30px 30px 30px 30px
        color: white
        padding: 5px 10px
        font-size: 20px
    img
        border-radius: 50%
        object-fit: cover
        width: 200px
        height: 200px

    p.validate-error
        text-align: center
        color: #a1a1a1
        font-size: 16px
        margin-top: 5px
        display: flex
        justify-content: center
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000

    button
        background: #f70fcd
        border: 2px solid #f70fcd
        padding: 7px 18px
        font-size: 22px
        border-radius: 18px
        color: #fff
        font-weight: bold
        cursor: pointer
        transition: 0.3s
        margin-right: 10px
        margin-top: 5px
        &:hover
            box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
            background: none
            color: #fff

        &:disabled
            background: #525252
            border: 2px solid #525252

    ul

        padding: 5px
    li

        padding: 5px
        list-style-type: none
