.reg
    &-wrapper
        height: 100vh
        width: 100vw

        display: flex
        flex-direction: row

    &-bg
        width: 70%
        background-image: url('../../assets/server.jpg')
        background-size: cover

        display: flex
        flex-direction: column
        justify-content: center

        h1
            text-shadow: 2px 2px 10px #9510e8
            color: #bd0853
            display: flex
            justify-content: center
            font-weight: bold
            font-size: 60px


    &-content
        width: 30%

        display: flex
        flex-direction: column
        justify-content: center

        .reg-form
            padding: 5%
            margin: 0 15%
            display: flex
            flex-direction: column

            border: 2px solid #fff
            border-radius: 10px

            box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )

            p
                text-align: center
                color: #a1a1a1
                font-size: 16px
                margin-top: 5px
                display: flex
                justify-content: center
                text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000
                


            .input-error
                border: 3px solid  #ff0000 !important

            &:last-child
                margin-bottom: none

            h2
                display: flex
                justify-content: center
                font-size: 26px
                margin-bottom: 18px

            .input-field
                display: flex
                flex-direction: column
                margin-bottom: 10px

                label
                    margin-bottom: 5px
                    font-size: 16px

                input
                    padding: 9px 18px
                    font-size: 18px
                    background: #fff
                    border-radius: 8px
                    color: #000

                &:last-of-type
                    margin-bottom: 25px 

            .form-btns
                display: flex
                justify-content: space-around
                margin-bottom: 15px

                button 
                    background: #f70fcd
                    border: 2px solid #f70fcd
                    padding: 7px 18px
                    font-size: 18px
                    border-radius: 18px
                    color: #fff
                    font-weight: bold
                    cursor: pointer

                    transition: 0.3s

                    &:hover
                        box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
                        background: none
                        color: #fff

                    &:disabled
                        background: #525252
                        border: 2px solid #525252

                a 
                    color: #fff
                    &:hover
                        color: #f70fcd
