footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    text-align: center
    text-transform: none
    background-color: #63042c
    color: #a1a1a1
    font-size: 16px
    a
        color: #fff
        &:hover
            color: #f70fcd


