.main
    width: 100%
    height: 100%
    font-size: 20px
    text-decoration: none
    text-align: justify
    margin-bottom: 3%
    padding-left: 3%
    padding-right: 3%
    margin-top: 2%

    ol
        display: block;
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

    ul
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    li
        display: list-item;
        text-align: -webkit-match-parent;
    h1
        text-align: center
        margin-bottom: 20px
        font-size: 50px
        letter-spacing: 0px


footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    text-align: center
    text-transform: none
    background-color: #63042c
    color: #a1a1a1
    font-size: 16px
    a
        color: #fff
        &:hover
            color: #f70fcd