.delete-hover
    width: 100%
    height: 100%
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)
    background-color: rgba(0, 0, 0, 0.781)
    z-index: 2
    .delete-check
        margin-left: auto
        margin-right: auto
        margin-top: 100px
        width: 500px
        background: #4c035e
        padding: 40px
        color: white
        text-align: center
        border: 2px solid #fff
        border-radius: 10px

        box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )

        p.delete-text
            display: block
            word-wrap: break-word
            text-decoration:
            margin: 0
            text-shadow: none
            color: #ffffff
            font-size: 24px
            text-align: center
