.vis
    position: fixed
    right: 0
    top: 0
    cursor: pointer
    display: flex
    flex-direction: row
    
    p.language
        margin: 0
        padding-bottom: 0
        padding-top: 11px;


    button
        background: #f70fcd
        border: 2px solid #f70fcd
        padding: 7px 18px
        font-size: 18px
        border-radius: 18px
        color: #fff
        font-weight: bold
        cursor: pointer
        margin: 5px
        transition: 0.3s

        &:hover
            box-shadow: 7px 8px 7px 2px rgba(56, 34, 74, 0.8 )
            background: none
            color: #fff

            &:disabled
                background: #525252
                border: 2px solid #525252

            a
                color: #fff
                &:hover
                    color: #f70fcd
